<div class="container" id="container">
    <!-- Form per la Registrazione -->
    <div class="form-container sign-up-container">
        <form action="/register" method="POST">
            <h1>Create Account</h1>
            <input type="text" placeholder="Name" name="first_name" required />
            <input type="text" placeholder="Surname" name="last_name" required />
            <input type="email" placeholder="Email" name="email" required />
            <input type="text" placeholder="Username" name="username" required />
            <input type="password" placeholder="Password" name="password" required />
            <button type="submit">Sign Up</button>
        </form>
    </div>

    <!-- Form per il Login -->
    <div class="form-container sign-in-container">
        <form action="/login" method="POST">
            <h1>Sign in</h1>
            <input type="text" placeholder="Username" name="username" required />
            <input type="password" placeholder="Password" name="password" required />
            <a href="#">Forgot your password?</a>
            <button type="submit">Sign In</button>
        </form>
    </div>

    <!-- Overlay -->
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start your journey with us</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>

<footer>
    <p>
    </p>
</footer>

<!-- Link al CSS -->
<link rel="stylesheet" href="/css/login.css">

<!-- Link al JavaScript -->
<script src="/js/login.js"></script>